h1 {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-gap: 2px;
    margin: 10px auto;
}

.board div {
    width: 40px;
    height: 40px;
    background-color: #3498db;
    border: 1px solid #2980b9;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
}

.board .ship {
    background-color: #e74c3c;
}
